<h1 mat-dialog-title>Delete message?</h1>
<div mat-dialog-actions>
  <button mat-button
          (click)="onClose()">No Thanks</button>
  <button mat-button [mat-dialog-close]="true">Yes</button>
</div>
