<mat-toolbar>Chat-Box</mat-toolbar>

<ng-container *ngIf="loaded">
  <mat-card *ngFor="let message of messagesList">
    <mat-card-header>
      <mat-card-title mat-card-avatar>
        <img class="header-image"
             [src]="message?.avatar">
      </mat-card-title>
      <mat-card-subtitle>{{ message?.name + ' ' + message?.lastName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p [innerHTML]="message?.message"></p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button
              type="button"
              (click)="removeMessage(message)">delete
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
