.header-image {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  background-size: cover;
}

mat-card {
  margin-bottom: 30px;
}

mat-card-header {
  margin-bottom: 30px;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
}

mat-toolbar {
  margin-bottom: 30px;
}
