<mat-toolbar color="primary">Chat App</mat-toolbar>

<div class="container">

  <div class="messages">
    <div>
      <chat-box *ngFor="let user of usersList"
                [user]="user"></chat-box>
    </div>
  </div>

  <div class="chat">
    <message-box></message-box>
  </div>

</div>
