.header-image {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  background-size: cover;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

mat-card {
  height: 40vh;
  margin-bottom: 20px;
}

mat-card-header {
  margin-bottom: 30px;
}

textarea {
  height: 200px;
}

