<form [formGroup]="messageForm"
      (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img class="header-image"
             [src]="user.avatar">
      </div>
      <mat-card-title>{{ user.name + ' ' + user.lastName }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline"
                      class="example-container">
        <mat-label>Введите сообщение...</mat-label>
        <textarea
          matInput
          formControlName="message"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button
              type="submit">OK
      </button>
    </mat-card-actions>
  </mat-card>
</form>
